body{
	font-family: 'Montserrat', sans-serif;
	color: #606060;
}
.main-logo{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	border-radius: 50%;
	width: 60%;
}
.other-logos{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	border-radius: 50%;
	width: 50%;
	padding: 2%;


}
body.modal-open .supreme-container{
	-webkit-filter:blur(1px);
	-moz-filter:blur(1px);
	-o-filter:blur(1px);
	-ms-filter:blur(1px);
	filter:blur(5px);
}
.heading{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: bold;
}
#domain_name{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	margin-left: 10px;
	font-size: 25px;
}
#members{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
}
#down-arrow{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	color: #ff6666;
	margin-left: 45px;
}
.right-arrow{
	cursor: pointer;
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	margin-left: 45px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  margin-left: 45px;

}
.project-list{
	font-size: 1.2em;
	font-style: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #606060;

}
.project-list:hover{
	cursor: pointer;
	color: #ff6666;	
}
.project-logos:hover{
	cursor: pointer;
	font-size: 30px;
	color: #ff6666;	
}
a{
	text-decoration: none;
}
.other-domain-name{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 500;
}
.other-domain-name:hover{
	color: #ff6666;
}
.vl {
	margin-top: 1%;
	font-family: 'Montserrat', sans-serif;
  }
  .service{

  	font-family: 'Montserrat', sans-serif;
  	text-align: center;
  	margin-top: 5%;
  }
  .intro .buttons{

  	align-content: center;
  	font-family: 'Montserrat', sans-serif;
    height: 10%;
    width: 573px;
 
}
.v1 .buttons{

    height: 10%;
    width: 573px;
 
} 
.buttons button{
  background: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
}
#request{
	border: 1.5px solid #ff6666;
    color: #ff6666;
}
#request:hover{
	background-color: #ff6666;
	color: white;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #ff6666;
  border-radius: 50%;
  display: inline-block;
}
.mod_img{
	height: 200px;
	width: 200px;
	margin-right: 1%;
	margin-left: 1%;
}
h4{
	font-weight: bold;
}
.modal {
		font-family: 'Montserrat', sans-serif;
  text-align: center;

}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
@media screen and (max-width: 768px) { 
	.modal-dialog{
		padding: 45px;
		padding-left: 45px;
	}
	.popup-logo{
		width: 17%;
		height: 75%;
	}

}
@media screen and (max-width: 768px) { 
	#mob-line{
		height: 0px;
		width: 100%;
	  	border-top:  1px solid #ff6666;
	}
	#line{
		display: none;
	}
	#spicin{
		margin-top: 30%;
	}

}
@media screen and (min-width: 768px) { 
	#mob-line{
		display: none;
	}
	#line{
		height: 160px;
		border-left: 1px solid #ff6666;
	}
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal{
	z-index: 9999;

}
.project-logos{
	width: 60%;
	padding: 2%;
}
.project-logos : hover{

}
h1{
	font-weight: 900;
}
.DOWNLOADS{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
}
.popup-logo
{
	width: 17%;
}
.know-more
{
	font-size: 0.6em;
}
.blur {
    box-shadow: 0px 0px 20px 20px rgba(255,255,255,1);
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    transform: scale(0.9);
    opacity: 0.6;
}
.blur{
	filter: blur(5px);
}
