body{
	font-family: 'Montserrat', sans-serif;
	color: #606060;

}
.main-logo{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	border-radius: 50%;
	width: 50%;
	margin-left: 20px;
}
.other-logos{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	border-radius: 50%;
	width: 15%;
	padding: 2%;
	margin-left: 40px;

}
.heading{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-left: 25px;
}
#domain_name{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	margin-left: 10px;
	font-size: 25px;
}
#members{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	margin-left: 60px;
}
#down-arrow{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	color: #ff6666;
	margin-left: 45px;
}
.right-arrow{
	cursor: pointer;
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	margin-left: 45px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  margin-left: 45px;

}
.project-list{
	color: black;
}
.project-list:hover{
	cursor: pointer;
	font-size: 30px;
	color: #ff6666;	
}
.project-list:click{
	cursor: pointer;
	font-size: 30px;
	color: #ff6666;	
}
a{
	text-decoration: none;
}
.other-domain-name{
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	padding: 3%;
	margin-left: 35px;
	font-size: 25px;
}
.other-domain-name:hover{
	color: #ff6666;
}
.vl {

	font-family: 'Montserrat', sans-serif;
	margin-top: 75px;
  border-left: 1px solid #ff6666;
  height: 125px;
  }
  .service{

  	font-family: 'Montserrat', sans-serif;
  	margin-left: 100px;
  	text-align: center;
  }
  .intro .buttons{

  	align-content: center;
  	font-family: 'Montserrat', sans-serif;
    height: 10%;
    width: 573px;
 
}
.v1 .buttons{

    height: 10%;
    width: 573px;
 
} 
.buttons button{
  background: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 30px;
  font-weight: bold;
}
#request{
	border: 1.5px solid #ff6666;
    color: #ff6666;
}
#request:hover{
	background-color: #ff6666;
	color: white;
}
